* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
  }
  body {
    height: 100vh;
    background: linear-gradient(50deg, #9e3b36, #434899,rgb(158, 30, 25));
    /* background-image: url(bp.jpeg); */
    background-repeat: no-repeat;
    background-size: 100% 700px;
    background-position: center;
  }
  .calculator{
    height: 580px;
    width: 400px;
    background: linear-gradient(90deg,rgb(38, 83, 102),rgb(96, 5, 119));
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 20px 50px white;
  }
  .calculator::before{
    height: 580px;
    width: 400px;
    background: linear-gradient(90deg,rgb(38, 83, 102),rgb(96, 5, 119));
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 20px 50px white;
    animation: rotate .2s infinite;
  }
  @keyframes rotate {
    from{
        trandform: rotate(0deg);
        border: 2px soild black;
    }
    to{
        trandform: rotate(360deg);
        border: 2px solid white;
    }
}
  .calculator::after{
    height: 580px;
    width: 400px;
    background: linear-gradient(90deg,rgb(38, 83, 102),rgb(96, 5, 119));
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%); 
    top: 50%;
    left: 50%;
    border: 2px solid white;
    border-radius: 20px;
    box-shadow: 0 20px 50px white;
    /* animation: rotate .2s infinite; */
    }
    /* @keyframes rotate {
        from{
            trandform: rotate(0deg);
            border: 2px soild black;
        }
        to{
            trandform: rotate(360deg);
            border: 2px solid white;
        }
    } */

  .display {
    width: 100%;
  }
  .display input {
    width: 100%;
    padding: 15px 10px;
    text-align: right;
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 35px;
  }
  .display input::placeholder {
    color: #a59898;
  }
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 40px;
  }
  .buttons input[type="button"] {
    font-size: 20px;
    padding: 17px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 5px;
  }
  #equal{
    color: white;
  }
  .buttons input[type="button"]:hover {
    box-shadow: 0 8px 25px #000d2e;
    background-color: transparent;
    color: rgb(245, 239, 239);
    /* color:linear-gradient(90deg,rgb(212, 208, 208),rgb(128, 94, 94)) */
  }
  input[type="button"]#equal {
    grid-row: span 2;
    background-color:rgb(134, 148, 144);
  }
  input[type="button"][value="0"] {
    grid-column: span 2;
  }
  input[type="button"]#equal:hover{
    background-color: rgb(75, 151, 75);
  }















  
